body{
    background-color: rgb(78, 78, 78);
}

#imageContainer{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 1300px;
    height: 600px;
    border: 6px solid rgb(0, 0, 0);
    background-color: black;
  }

#liveImage{
    width: 1300px;
    height: 600px;
}

#camera_start_btn{
    margin-top: 1%;
    padding: 20px 30px;
    border-radius: 30px;
    margin-left: 43%;
}


#serve_img{
    width: 700px;
    height: 500px;
    margin-left: 10%;
    margin-top:-14%;
}

.rectangle2{
    margin-top: 4%;
    width: 900px;
    height: 250px;
    border: 6px solid rgb(255, 255, 255);
    background-color: black;
}

#user_input{
    margin-top: 3%;
    margin-left: 31.5%;
}
#user_input input[type="text"]{
    width: 350px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: flex ;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
}
#user_input input[type="date"]{
    width: 353px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
}

#user_it{
    margin-left: 13%;
}

#info_btn{
    margin-top:2%;
    margin-left: 43%;
    padding: 30px 50px;
    border-radius: 30px;
    
}

#log_it {
    margin-top: -23%;
    margin-left: 10%;
    width: 700px;
    height: 460px; 
    overflow: auto; 
    text-align: center;
    font-size: larger;
  }

#date_log{
    color: white;
}

#key_word{
    color:white;
}


